div{
    width: 500px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(to right,red,orange,yellow,green,blue,indigo,rgb(211, 59, 211));
    color: rgb(141, 137, 137);
    font-size: 30px;
}