.main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.box{
    width: 80px;
    height: 80px;
    border: 1px solid black;
}
.boxempty{
    width: 80px;
    height: 80px;
    border: 1px solid white;
}
